# Ignorar entornos virtuales
venv/
env-tox/


.pkg/
.vscode/
# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
mlartifacts/
/data
config/llave.pem
config/access_commands.txt
config/mlflow.pem
config/dvc-key.json
classification_report.json
confusion_matrix.json
mlruns/
