# Ignorar entornos virtuales
venv/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
mlartifacts/
/data
config/llave.pem
config/access_commands.txt
# Large files to ignore
data.rar
lib/python3.12/site-packages/nvidia/nccl/lib/libnccl.so.2
lib/python3.12/site-packages/xgboost/lib/libxgboost.so
lib/python3.12/site-packages/pyarrow/libarrow.so.1900
lib/