## python 3.12.6
pandas
scikit-learn
mlflow
xgboost
sentence-transformers
imblearn
dash==2.9.3
dash-core-components==2.0.0
dash-html-components==2.0.0
numpy
plotly==5.14.1
matplotlib==3.7.1
wordcloud
pillow==10.0.0
dvc
lightgbm 
catboost
python-dotenv
