## python 3.12.6
pandas
scikit-learn>=1.5.0
mlflow>=2.22.2
xgboost
sentence-transformers
imblearn
dash>=2.15.0
dash-core-components
dash-html-components
numpy==2.2.2
plotly==5.14.1
matplotlib==3.7.1
wordcloud
pillow>=10.3.0
dvc
lightgbm
catboost
python-dotenv
